.homePage {
  overflow: hidden;
  a {
    text-decoration: none;
  }
  .main {
    box-sizing: content-box;
    min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 48px;
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .headerLeft {
        position: relative;
        z-index: 1;
        .buttons {
          margin-top: 20px;
        }
        .title {
          margin: 0;
          color: rgba(0, 0, 0, 0.9);
          font-weight: normal;
          font-size: 48px;
          line-height: 1;
        }
        .description {
          margin-bottom: 56px;
          color: rgba(0, 0, 0, 0.85);
          font-size: 20px;
          line-height: 28px;
        }
        .buttons {
          margin-top: 28px;
          a {
            display: inline-block;
            margin-right: 24px;
            padding: 10px 36px;
            color: #3978ff;
            font-size: 16px;
            background-color: #fff;
            border: 1px solid #3978ff;
            border-radius: 100px;
          }
          a:first-child {
            color: #ffff;
            background-color: #3978ff;
          }
        }
      }
      .headerImage {
        position: relative;
        z-index: 0;
        width: 960px;
        margin-left: -40%;
        transform: translateX(30%);
        @media (max-width: 1300px) {
          & {
            width: 820px;
            margin-left: -30%;
            transform: translateX(30%);
          }
        }
      }
    }
    .group {
      padding: 32px 0 24px;
    }
    .groupTitle {
      margin-top: 12px;
      margin-bottom: 48px;
      color: #697a8c;
      font-size: 24px;
      line-height: 32px;
    }
    ul.features {
      display: flex;
      justify-content: space-between;
      li {
        list-style: none;
        p:nth-child(1) {
          margin: 0 auto;
          text-align: center;
        }
        p:nth-child(2) {
          width: 100%;
          height: 24px;
          margin-top: 30px;
          margin-bottom: 8px;
          color: rgba(0, 0, 0, 0.85);
          font-size: 16px;
          line-height: 24px;
          text-align: center;
        }
        p:nth-child(3) {
          width: 210px;
          margin-top: 8px;
          color: #697a8c;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
        }
      }
    }
    .resourcesCardList {
      display: flex;
      flex-direction: row;
      gap: 48px;
      align-items: stretch;
      justify-content: space-between;
      .resourcesCard {
        position: relative;
        flex: 1;
        padding-top: 32px;
        padding-right: 24px;
        padding-left: 32px;
        //width: 547px;
        background: #fafcfe;
        .development_con_title {
          display: flex;
          justify-content: space-between;
          height: 32px;
          line-height: 32px;
          span {
            color: rgba(0, 0, 0, 0.85);
            font-size: 20px;
          }
          a {
            color: #3978ff;
            font-size: 14px;
          }
        }
        p:nth-child(2) {
          height: 26px;
          margin-top: 16px;
          color: #697a8c;
          font-size: 14px;
          line-height: 26px;
        }
        img {
          display: block;
          margin-top: 36px;
        }
        .development_pos {
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            210deg,
            #f4f9ff 0%,
            rgba(230, 241, 255, 0) 45%
          );
        }
      }
    }
    .guidance {
      display: flex;
      flex-direction: row;
      gap: 48px;
      align-items: stretch;
      justify-content: space-between;
      .guidanceCard {
        display: flex;
        flex: 1;
        justify-content: space-between;
        padding: 32px;
        background: #ffffff;
        box-shadow: 0 4px 10px 0 rgba(184, 212, 231, 0.2);
        > div {
          width: 274px;
          p:nth-child(1) {
            height: 32px;
            margin-top: 0;
            margin-bottom: 8px;
            color: rgba(0, 0, 0, 0.85);
            font-size: 20px;
            line-height: 32px;
          }
          p:nth-child(2) {
            margin-top: 0;
            margin-bottom: 34px;
            color: #697a8c;
            font-size: 14px;
            line-height: 26px;
          }
          a {
            font-size: 14px;
          }
        }
        img {
          width: 200px;
          height: 132px;
        }
      }
    }
    ul.using {
      display: flex;
      gap: 24px;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      li {
        flex: none;
        list-style: none;
      }
      img {
        height: 34px;
        filter: grayscale(100%);
      }
      li:nth-child(7) {
        img {
          height: 54.1px;
          margin-top: -10px;
        }
      }
    }
  }
  .footer {
    margin-top: 60px;
    // background: #06080a;

    .columns {
      display: flex;
      justify-content: space-between;
      width: 1140px;
      margin: 0 auto;
      padding: 80px 0 32px;
      ul {
        flex: 1;
        padding: 0 36px 0 0;
        li {
          margin-bottom: 12px;
          font-size: 14px;
          line-height: 22px;
          list-style: none;
          a {
            color: #06080a;
          }
        }
        li:first-child {
          margin-bottom: 24px;
          color: #06080a;
          font-size: 16px;
        }
      }
    }
    .copyright {
      padding: 12px 0;
      color: #06080a;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
  }
}
