@class-prefix-loading: ~'aunt-loading';

.@{class-prefix-loading} {
    
    --font-size: var(--aunt-font-size-md);
    --padding: var(--aunt-padding-xs);
    --text-color: var(--aunt-text-colo);
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &_text{
        font-size: var(--font-size);
        margin-left: var(--padding);
        vertical-align: middle;
        color: var(--text-color);
    }
    &--vertical{
        align-items: center;
        flex-direction: column;
        .@{class-prefix-loading}_text{
            margin-top: var(--padding);
        }
    }
}
