@import '../../../styles/var.less';
@class-prefix-button: ~'aunt-button';

.@{class-prefix-button} {

    --color: var(--aunt-color-white);
    --text-color: var(--aunt-button-text-color, var(--aunt-text-color));
    --background-color: var(--aunt-button-background-color, var(--aunt-color-white));

    --border-radius: var(--aunt-button-border-radius, @border-radius-md);
    --border-width: var(--aunt-button-border-width, @border-width-base);
    --border-style: var(--aunt-button-border-style, solid);
    --border-color: var(--aunt-button-border-color, var(--aunt-border-color));
    
    --button-padding: @padding-s @padding-m;
    --button-font-size: @font-size-md;
    --button-line-height: @line-height-xs;

    color: var(--text-color);
    background-color: var(--background-color);
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    padding: var(--button-padding);
    margin: 0;
    font-size: var(--button-font-size);
    line-height: --button-line-height;
    text-align: center;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: opacity ease 0.15s;
    user-select: none;
    
    &:focus {
        outline: none;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(
          calc(var(--border-width) * -1),
          calc(var(--border-width) * -1)
        );
        width: 100%;
        height: 100%;
        background-color: #000;
        border: var(--border-width) var(--border-style) #000;
        border-radius: var(--border-radius);
        opacity: 0;
        content: ' ';
        box-sizing: content-box;
    }
    &:active::before {
        opacity: 0.08;
    }
    
    &--default{}

    &--primary{
        --background-color: var(--aunt-primary-color);
        --text-color: var(--aunt-color-white);
        --border-color: var(--aunt-primary-color);
    }
    &--success{
        --background-color: var(--aunt-success-color);
        --text-color: var(--aunt-color-white);
        --border-color: var(--aunt-success-color);
    }
    &--warning{
        --background-color: var(--aunt-warning-color);
        --text-color: var(--aunt-color-white);
        --border-color: var(--aunt-warning-color);
    }
    &--danger{
        --background-color: var(--aunt-danger-color);
        --text-color: var(--aunt-color-white);
        --border-color: var(--aunt-danger-color);
    }
    &--plain{
        --background-color: var(--aunt-color-white);
        
        &.@{class-prefix-button}--primary {
            --text-color: var(--aunt-primary-color) ;
        }
      
        &.@{class-prefix-button}--success {
            --text-color: var(--aunt-success-color);
        }
      
        &.@{class-prefix-button}--danger {
            --text-color: var(--aunt-danger-color);
        }
      
        &.@{class-prefix-button}--warning {
            --text-color: var(--aunt-warning-color);
        }
    }   

    &--hairline{
        --border-width: calc(0.5 * var(--aunt-hd));
    }

    &--large {
        --button-font-size: @font-size-lg;
        --button-line-height:@line-height-sm;
        --button-padding: @padding-m @padding-xl;
    }

    &--normal {}
    
    &--small {
        --button-padding:@padding-xs @padding-s;
        --button-font-size: @font-size-sm;
    }
    
    &--mini {
        --button-padding:@padding-base @padding-xs;
        --button-font-size: @font-size-xs;
    }

    &--shape{
        &--default{}
        &--square{
            --border-radius:0;
        }
        &--round{
            --border-radius: @border-radius-max;
        }
    }
    
    &--block {
        display: block;
        width: 100%;
    }

    &--disabled {
        cursor: not-allowed;
        opacity: @disabled-opacity;
        &::before {
            display: none;
        }
    }
}